.fondo{background: darkgrey;}
.fondo2{background: darkgrey;}
 
.container-fluid {
  height: 100px;
}
.container-fluid2 {
    height: 50px;
  }

.imgt{
    width: 55px;
    height: 55px;
}